{% extends 'base.html' %}

{% block body %}
<div class="row mt-5">
    <center>
        <h1>Medicine Schedule</h1>

    </center>
    <div class="col-sm"></div>
    <div class="col-lg mt-5">
        <table class="table table-bordered">
            <tr>
                <th>Morning</th>
                <th>Afternoon</th>
                <th>Evening</th>
            </tr>
            <tr>
                <td>Janumet,Glicazide,Ecosprin,Simastatin</td>
                <td></td>
                <td>Metmorfin,Centrium,Foxiga,Perindopril</td>
            </tr>
        </table>
    </div>
    <div class="col-sm"></div>
</div>
{% endblock body %}